%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Dear #{@user.name}
    %p
      You have reached critical value for your account,
      %br/
    %p Have a great day!